[submodule "system/minishell"]
	path = system/minishell
	url = https://github.com/42mates/minishell/
[submodule "system/cub3D"]
	path = system/cub3D
	url = https://github.com/42mates/cub3D/
[submodule "web/webserv"]
	path = web/webserv
	url = https://github.com/42mates/webserv/
[submodule "web/transcendence"]
	path = web/transcendence
	url = https://github.com/42mates/transcendence/
